@font-face {
  font-family: LeagueSpartan;
  src: url(/assets/fonts/leagueSpartan/LeagueSpartan-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, button, input, textarea, select {
  font-family: LeagueSpartan, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #6BB5ED;
}

header h1 {
  font-size: 25px;
}

.voltar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-voltar {
  border: none;
  background: transparent;
}

#seta {
  width: 6vh;
  rotate: 180deg;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 10px;
}

#logo {
  width: 7vh;
}

.vermelho {
  color: red;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titulo{
    margin: 20px;
    font-size: 15px;
    color: #216ca6;
}

.links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    text-align: center;
    font-size: 17px;

    a{
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-weight: 500;
        border-radius: 15px;        
        padding: 15px;
        background-color: #6BB5ED;
        width: 35vh;
    }
    a:hover{
      box-shadow: #a0a9b4 2px 2px 7px 1px;
      transition: 0.5s;
    }
}
